
.question {
    font-family: 'Afacad Flux', sans-serif;
    font-size: 2em !important;
    font-weight: bold;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

.button-container {
    display: grid;
    justify-content: center; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; 
    align-items: center; 
    font-size: 1.3em !important;
    margin-bottom: 2em;
}

.box {
    flex: 1 1 40%;
    max-width: 500px;
    min-width: 300px;
    aspect-ratio: 3/2;
    /* max-height: 200px; 
    min-height: 130px; */
    background-color: rgba(255, 255, 255, 0.1); 
    border: 2px solid rgba(255, 255, 255, 0.5); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    color: white; 
    border-radius: 10px; 
    cursor: pointer; 
    outline: none; 
}

@media (max-width: 600px) {
    .button-container {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
    }
    .box {
        flex: 1 1 50%;
        max-width: 150px;
        min-width: 150px;
        font-size: 0.7em;
    }
}

.box:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Slightly change background on hover */
}

.number {
    font-size: 1.2em !important;
}
