
.question {
    font-family: 'Afacad Flux', sans-serif;
    font-size: 2em !important;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0em;
}

@media (max-width: 600px) {
    .question {
        margin-top: 1em;
    }
}

.button-container {
    display: grid;
    justify-content: center; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    justify-items: center; 
    align-items: center; 
    font-size: 1.3em !important;
    margin-bottom: 0;
}

.box {
    flex: 1 1 40%;
    max-width: 250px;
    min-width: 220px;
    aspect-ratio: 19/20;
    /* max-height: 200px; 
    min-height: 130px; */
    background-color: rgba(247, 183, 246, 0.187); 
    border: 2px solid rgba(255, 255, 255, 0.5); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    color: white; 
    border-radius: 10px; 
    cursor: pointer; 
    outline: none; 
}

/* rgba(255, 255, 255, 0.1) */

@media (max-width: 600px) {
    .button-container {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
    }
    .box {
        flex: 1 1 50%;
        max-width: 150px;
        min-width: 150px;
        aspect-ratio: 3/2;
        font-size: 0.8em;
    }
}

.box:hover {
    background-color: rgba(194, 108, 191, 0.2); /* Slightly change background on hover */
    border: 2px solid rgba(232, 160, 230, 0.2); 
    color: #fce1f6;
}

.number {
    font-size: 1.2em !important;
    color: #ffe7fa;
}

@media (max-width: 600px) {
    .number {
        margin: 1em;
}
}