.image-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    flex-direction: column; 
}

.image {
    max-width: 47vw;
    max-height: 80vh;
    min-width: 40vh;
    height: auto;
    margin-top: 5em;
    margin-bottom: 2em;
}

.h2 {
    font-family: 'Afacad Flux', sans-serif;
    font-weight: bold;
    font-size: 4.8em;
    margin-bottom: 0.5em;
    color: #ffe7fa;
}

.result {
    font-size: 1.3em;
    font-family: 'Afacad Flux', sans-serif;
    margin-top: 0.2em;
    margin-bottom: 1em;
    color: #ffe7fa;
    
}
